@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Rock+Salt&display=swap');

.error-message {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-align: center;
    font-size: 25px;
    color:rgb(52, 45, 45);
}